body {
      font-family: Arial, sans-serif, 'Courier New', Courier, monospace;
      background: linear-gradient(to right, rgb(122, 160, 230), rgb(190, 215, 234));
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
    }

    h1 {
      text-align: center;
      color: rgba(100, 60, 193, 0.8);
      margin-bottom: 20px;
      font-family: Roboto;
    }

    .container {
      width: 100%;
      max-width: 1100px;
      background: rgba(255, 255, 255, 0.95);
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      overflow: hidden;
    }

    .current-date {
      display: flex;
      justify-content: space-between;
      background: rgba(100, 60, 193, 0.8);
      color: white;
      padding: 15px 25px;
      font-weight: bold;
      font-size: 1.2em;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
    }

    th, td {
      border: 1px solid #dcdde1;
      text-align: left;
      vertical-align: top;
      padding: 10px;
      width: 14.28%;
    }

    th {
      background-color: #65a5e9;
      color: white;
      text-align: center;
    }

    td {
      height: 100px;
      position: relative;
    }

    .date {
      font-weight: bold;
      color: #353b48;
      display: block;
      margin-bottom: 5px;
    }

    .event {
      background-color: #e1f5fe;
      border-left: 4px solid #0097e6;
      padding: 4px;
      margin-top: 5px;
      border-radius: 5px;
    }

    .current {
      color: #fff;
    }

    .meeting {
      border-left-color: #11b3a0;
    }

    .reminder {
      border-left-color: #576574;
    }

    .other-month {
      color: #b2bec3;
    }

    caption {
      caption-side: top;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 18px;
    }

    .container-calendar {
      margin-top: 1em;
      border-top: 1px solid #dadada;
      padding: 10px 0;
      text-align: center;
    }

    .container-calendar select {
      cursor: pointer;
      background: #ffffff;
      color: #585858;
      border: 1px solid #bfc5c5;
      border-radius: 3px;
      padding: 5px 1em;
    }

    @media (max-width: 768px) {
      th, td {
        font-size: 12px;
        padding: 6px;
      }
    }
    .festival {
      background-color:rgba(229, 227, 75, 0.2);
    }